﻿@using Models.Parameters.Subject
@model AddSubjecInput

<div class="text-center">
    <h4>Subjects</h4>
    <hr />
    <div class="row justify-content-between">
        <div class="col-md-3">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassNumber" class="control-label"></label>
                    <input asp-for="ClassNumber" class="form-control" />
                    <span asp-validation-for="ClassNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeacherName" class="control-label"></label>
                    <input asp-for="TeacherName" class="form-control" />
                    <span asp-validation-for="TeacherName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeacherSurname" class="control-label"></label>
                    <input asp-for="TeacherSurname" class="form-control" />
                    <span asp-validation-for="TeacherSurname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register Subject" class="btn btn-primary" />
                </div>
            </form>

            <div class="row">
                @if (TempData["Errors"] != null)
                {
                    @foreach (var error in (IEnumerable<string>)TempData["Errors"])
                    {
                        <h4 class="text-danger custom-warning" style="margin-left:4%">@error</h4>
                    }
                }

                @if (TempData["Success"] != null)
                {
                    <h4 class="text-success custom-warning" style="margin-left:4%">@TempData["Success"]</h4>
                }
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-8">
            <table class="table data-table">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">ClassNumber</th>
                        <th scope="col">TeacherName</th>
                        <th scope="col">TeacherSurname</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Subjects != null)
                    {
                        @foreach (var subject in ViewBag.Subjects)
                        {
                            <tr>
                                <th scope="row">@subject.Code</th>
                                <td>@subject.Name</td>
                                <td>@subject.ClassNumber</td>
                                <td>@subject.TeacherName</td>
                                <td>@subject.TeacherSurname</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
