﻿@using Models.Parameters.Student
@model AddStudentInput

<div class="text-center">
    <h4>Students</h4>
    <hr />
    <div class="row justify-content-between">
        <div class="col-md-3">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassNumber" class="control-label"></label>
                    <input asp-for="ClassNumber" class="form-control" />
                    <span asp-validation-for="ClassNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register Student" class="btn btn-primary" />
                </div>
            </form>

            <div class="row">
                @if (TempData["Errors"] != null)
                {
                    @foreach (var error in (IEnumerable<string>)TempData["Errors"])
                    {
                        <h4 class="text-danger custom-warning" style="margin-left:4%">@error</h4>
                    }
                }

                @if (TempData["Success"] != null)
                {
                    <h4 class="text-success custom-warning" style="margin-left:4%">@TempData["Success"]</h4>
                }
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-8">
            <table class="table data-table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Class number</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Students != null)
                    {
                        @foreach (var student in ViewBag.Students)
                        {
                            <tr>
                                <th scope="row">@student.Id</th>
                                <td>@student.Name</td>
                                <td>@student.Surname</td>
                                <td>@student.ClassNumber</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
