﻿@using Models.Parameters.Exam
@model AddExamInput

<div class="text-center">
    <h4>Exams</h4>
    <hr />
    <div class="row justify-content-between">
        <div class="col-md-3">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="SubjectCode" class="control-label"></label>
                    <select asp-for="SubjectCode" class="form-control">
                        @if (ViewBag.Subjects != null)
                        {
                            @foreach (var subject in ViewBag.Subjects)
                            {
                        <option value="@subject.Code">@subject.Name (@subject.ClassNumber)</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="SubjectCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <select asp-for="StudentId" class="form-control">
                        @if (ViewBag.Students != null)
                        {
                            @foreach (var student in ViewBag.Students)
                            {
                        <option value="@student.Id">@student.Name (@student.ClassNumber)</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Score" class="control-label"></label>
                    <input asp-for="Score" class="form-control" />
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BeginDate" class="control-label"></label>
                    <input asp-for="BeginDate" class="form-control" />
                    <span asp-validation-for="BeginDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Exam" class="btn btn-primary" />
                </div>
            </form>

            <div class="row">
                @if (TempData["Errors"] != null)
                {
                    @foreach (var error in (IEnumerable<string>)TempData["Errors"])
                    {
                        <h4 class="text-danger custom-warning" style="margin-left:4%">@error</h4>
                    }
                }

                @if (TempData["Success"] != null)
                {
                    <h4 class="text-success custom-warning" style="margin-left:4%">@TempData["Success"]</h4>
                }
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-8">
            <table class="table data-table">
                <thead>
                    <tr>
                        <th scope="col">Student's id</th>
                        <th scope="col">Student's name</th>
                        <th scope="col">Student's surname</th>
                        <th scope="col">Subject's code</th>
                        <th scope="col">Subject's name</th>
                        <th scope="col">Teacher's name</th>
                        <th scope="col">Teacher's surname</th>
                        <th scope="col">Class number</th>
                        <th scope="col">Score</th>
                        <th scope="col">Begin date</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Exams != null)
                    {
                        @foreach (var exam in ViewBag.Exams)
                        {
                            <tr>
                                <th scope="row">@exam.StudentId</th>
                                <td>@exam.StudentName</td>
                                <td>@exam.StudentSurname</td>
                                <td>@exam.SubjectCode</td>
                                <td>@exam.SubjectName</td>
                                <td>@exam.TeacherName</td>
                                <td>@exam.TeacherSurname</td>
                                <td>@exam.ClassNumber</td>
                                <td>@exam.Score</td>
                                <td>@exam.BeginDate.ToString("MM/dd/yyyy HH:mm")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
